/* Variable */

:root {
    --textColor: #6feaf6;
    --mainBackground: hsl(243, 18, 16);
    --mainColor: white;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBoderRadius: 0.25rem;
    --boxShadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

/* Global style */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #242333;
    color: var(--mainColor);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
}

p {
    margin-bottom: 1.25rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* 
img {
    width: 100%;
    display: block;
} */

/* Select */

.movie-select {
    margin: 1rem 0;
}
.movie-select label { 
    text-transform: capitalize;
}

.movie-select select {
    background-color: #fff;
    border: none;
    border-radius: var(--mainBoderRadius);
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.3rem 1rem;
/* dinh dang cho cac thanh phan trong 
giong giao dien nguoi dung */
    /* -moz-appearance: none firefox; 
    -webkit-appearance: none chrome and safari;
    appearance: none; */
}

.container {
    /* the hien chieu sau */
    perspective: 500px;
    margin-bottom: 2rem;
}

.seat {
    background-color: #444451;
    height: 0.75rem;
    width: 1rem;
    margin: 0.25rem;
    border-top-left-radius: var(--mainBoderRadius);
    border-top-right-radius: var(--mainBoderRadius);
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}
/* chon 2 hang dau cach ra  */
.seat:nth-of-type(2) {
    margin-right: 1.25rem;
}
/* chon hai hang sau cach ra  */
.seat:nth-last-of-type(2) {
    margin-left: 1.25rem;
}
/* .not là bộ chọn , chọn tất cả ngoại trừ trong ngoặc  */
.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.5);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1.6);
}

.showcase {
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBoderRadius);
    color: #777;
    display: flex;
    justify-content: space-around;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.showcase li small {
    margin-left: 1rem;
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 4.5rem;
    width: 100%;
    margin: 1rem 0;
    transform: rotateX(-45deg);
    box-shadow: var(--boxShadow);
}

p.text span {
    color: var(--textColor);
}